<div class="Polaris-DataTable">
  <div class="Polaris-DataTable__Navigation">
    <button type="button" class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly" disabled="" aria-label="Scroll table left one column">
      <span class="Polaris-Button__Content"
        ><span class="Polaris-Button__Icon"
          ><span class="Polaris-Icon"
            ><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path></svg></span></span
      ></span></button
    ><button type="button" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table right one column">
      <span class="Polaris-Button__Content"
        ><span class="Polaris-Button__Icon"
          ><span class="Polaris-Icon"
            ><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16" fill-rule="evenodd"></path></svg></span></span
      ></span>
    </button>
  </div>

  <div class="Polaris-DataTable__ScrollContainer">
    <table class="Polaris-DataTable__Table">
      <thead>
        <tr>
          <th
            *ngFor="let item of header_columns; let i = index"
            data-polaris-header-cell="true"
            [ngClass]="{ 'Polaris-DataTable__Cell--firstColumn': i === 0 }"
            class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--{{ item.y_align }} Polaris-DataTable__Cell--{{ item.type }}"
            scope="col"
          >
            <span *ngIf="item.type !== 'date'">
              {{ item.value }}
            </span>
            <span *ngIf="item.type === 'date'">
              {{ item.value | date: 'shortDate' }}
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="Polaris-DataTable__TableRow" *ngFor="let row of body_data">
          <td *ngFor="let column of row.columns; let i = index" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--{{ column.y_align }} Polaris-DataTable__Cell--{{ column.type }} {{ column.x_align }}">
            <span class="link" *ngIf="column.is_link">
              <span *ngIf="column.type !== 'date'">
                {{ column.value }}
              </span>
              <span *ngIf="column.type === 'date'">
                {{ column.value | date: 'shortDate' }}
              </span>
            </span>
            <span *ngIf="!column.is_link">
              <span *ngIf="column.type !== 'date'">
                {{ column.value }}
              </span>
              <span *ngIf="column.type === 'date'">
                {{ column.value | date: 'shortDate' }}
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
